.Button {
  background-color: #00bfb3;
  color: white;
  font-size: 20px;
  padding: 10px;
  outline: none;
  border: none;
  box-shadow: 3px 3px 0px #049a8f;
  transition: 300ms;
}

.Button:hover {
  opacity: 0.8;
}

.Button:active {
  box-shadow: none;
  transform: translateY(2px);
}
